.content {
    margin: 0 auto;
    max-width: 960px;
    margin-top: 8rem;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
}
.hero:hover a {
    color: #f50;
}
.herologo {
    transition: color 0.2s ease-in-out;
    color: #111;
    text-transform: uppercase;
}
.herologo:hover {
    color: #333B3F;
}
.herolinks {
    font-family: sans-serif;
    min-width: 8rem;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.item h2 {
    transition: color 0.2s ease-in-out;
    color: #333B3F;
}
.item h3 {
    transition: color 0.2s ease-in-out;
    font-family: sans-serif;
    font-weight: 400;
    color: #A8A8A8;
}

.item:hover h2 {
    color: #f50;
}
.item:hover h3 {
    color: rgba(86,90,92,1);
}

.itemimg {
    max-width: 100%;
    box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);
}

a {
    text-decoration: none;
    color: #555459;
    transition: color 0.2s ease-in-out;

}
a:hover {
    color: #f50;
}

.bio h1 {
    color: #333B3F;
    font-family: sans-serif;
}
.bio p {
    line-height: 150%;
    color: #333B3F;
    font-family: georgia, serif;
}
blockquote {
    margin-top: 3em;
    line-height: 150%;
    color: #555459;
    font-family: georgia, serif;
}
.bio a {
    color: #f50;
}
